<!DOCTYPE html>
<html>
<head>
	<title>PigLatin Translator</title>
</head>
<body>
	<h1>PigLatin Translator</h1>
	<h2>About the website</h2>
	<p>This website is being created by me, Rohan Sethi, using the Django framework of python in an attempt to improve my efficiency as a web developer, after having already learnt some php and javascript in some previous endeveaurs.</p>
	<h2>About the website</h2>
	<p>pig Latin is a secret language formed from English by transferring the initial consonant or consonant cluster of each word to the end of the word and adding a vocalic syllable (usually eɪ): so igpay atinlay is the pig Latin translation of the words 'pig latin'.</p>
	<p>Alternatively, </p>
	<p>Pig Latin is a language game or argot in which words in English are altered, usually by adding a fabricated suffix or by moving the onset or initial consonant or consonant cluster of a word to the end of the word and adding a vocalic syllable to create such a suffix. The objective is to conceal the words from others not familiar with the rules. The reference to Latin is a deliberate misnomer; Pig Latin is simply a form of argot or jargon unrelated to Latin, and the name is used for its English connotations as a strange and foreign-sounding language.</p>
	<h2>Rules: </h2>
	<p>For words that begin with consonant sounds, all letters before the initial vowel are placed at the end of the word sequence. Then, "ay" is added, as in the following examples:</p>
	<ul>
		<li>"me" = "emay"</li>
		<li>"too" = "ootay"</li>
		<li>"will" = "illway"</li>
		<li>"moist" = "oistmay"</li>
		<li>"wet" = "etway"</li>
		<li>"real" = "ealray"</li>
		<li>"simple" = "implesay"</li>
	</ul>
	<p>When words begin with consonant clusters (multiple consonants that form one sound), the whole sound is added to the end when speaking or writing.</p>
	<ul>
		<li>"string" = "ingstray"</li>
		<li>"thanks" = "anksthay"</li>
		<li>"stupid" = "upidstay"</li>
		<li>"glove" = "oveglay"</li>
		<li>"thanks" = "anksthay"</li>
	</ul>
	<p>For words that begin with vowel sounds, one just adds "way" or "yay" to the end (or just "ay"). Examples are:</p>
	<ul>
		<li>"egg" = "eggway" or "eggay"</li>
		<li>"explain" = "explainway"</li>
		<li>"always" = "alwaysway"</li>
		<li>"ends" = "endsway"</li>
	</ul>
</body>
</html>